body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: large;
    text-align: center;
    background-color:white; 
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.page.title {
    font-size: 60px;
    color: black;
    text-align: center;
    font-weight: 800;
    }

.list {
    text-align: left;
    font: size 20px;px;
    color:black;
    text-align: left;
    text-align: justify;
    font-weight: 300;
    list-style:inside;
}
p {
    font: size 20px;px;
    color:black;
    text-align: left;
    text-align: justify;
    font-weight: 400;
}
.main.list { 
    list-style: none;
    text-align: center;
}
.secondary.title{
    color: black;
    font-weight: 800;
    font-size: 32px;
    text-align: left;
    margin-left: 0.5cm;

}

.main.title {
    color:black;
    font-weight: 900;
    font: size 48px;
    text-align: left;
    margin-left: 1cm;
    }

