body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: large;
    text-align: center;
    background-color:rgb(255, 255, 255); 
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    }
#title {
    font-size: 60px;
    color:orange;
    text-align: center;
}
    
.page.title {
    font-size: 60px;
    color: orange;
    text-align: center;
    font-weight: 800;
    }
.main.list { 
    list-style: none;
    text-align: center;
}
.main.main.title,
.secondary.title{
    color: orange;
    font-weight: 800;
    font-size: 32px;
    text-align: left;
    margin-left: 0.5cm;
}

.list {
   
    font-size: 28px;
    color:black;
    text-align: justify;
    font-weight: 400;
    list-style:inside;
    }
p {
    font-size: 28px;
    color:black;
    text-align: justify;
    font-weight: 400;
    margin-left: 0.5cm;
    line-height: auto;
    }
.foodimg {
    width: 800px;
    height: auto;
}

